.swiper {
     width: 100%;
     height: 100%;
   }
   
   .swiper-slide {
     text-align: center;
     font-size: 18px;
    
   
     /* Center slide text vertically */
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .swiper-slide img {
     display: block;
     width: 100%;
     /* height: 100%; */
     object-fit: cover;
   }
   .grid{
    background: -webkit-radial-gradient(41% 40%, 130% 44%, rgba(0, 0, 0, 0) 0, #151515 100%);
    z-index: 1;
   }